__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.so
build/
dist/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/
venv/
.venv/
env/
.env
.vscode/
.idea/
out/
build/live-build/.build/
build/live-build/cache/
build/live-build/chroot/
